.header {
    background: url(../img/manuscript-header.jpg) no-repeat center;
    background-size: cover;
    height: 300px;
    color: white;
    text-align: center;
}

.searchpanel  {
    max-width: 800px;
    margin: 0 auto;
}