.searchInput {
    display: flex;
}

.searchInput > *  {

    padding: 0;
    margin: 0;
    border: 0;

}

.searchInput > input {
    width: 100%;
}

.searchInput > button {
    background-color: white;
}